.dialog-close-button {
  resource: "shared:assets/shared/images/ui/chart-editor/close.png";
  vertical-align: "center";
  cursor: "pointer";
  pointer-events: true;
  padding: 3px;
  border-radius: 2px;
}
.dialog-close-button:hover {
  resource: "shared:assets/shared/images/ui/chart-editor/close.png";
  background-color: $selection-background-color;
}
.dialog-minimize-button {
  resource: "shared:assets/shared/images/ui/chart-editor/minimize.png";
  vertical-align: "center";
  cursor: "pointer";
  pointer-events: true;
  padding: 3px;
  border-radius: 2px;
}
.dialog-minimize-button:hover {
  resource: "shared:assets/shared/images/ui/chart-editor/minimize.png";
  background-color: $selection-background-color;
}
.dialog-maximize-button {
  resource: "shared:assets/shared/images/ui/chart-editor/maximize.png";
  vertical-align: "center";
  cursor: "pointer";
  pointer-events: true;
  padding: 3px;
  border-radius: 2px;
}
.dialog-maximize-button:hover {
	resource: "shared:assets/shared/images/ui/chart-editor/maximize.png";
	background-color: $selection-background-color;
}
